[2020-05-28 11:36] onli commented on #401
I think something got lost here. Turns out that s9y does already update the last_modified field in serendipity_entries when editing an entry (well, kind of expected). I'm not sure how the entryproperties plugin should come into play here here. When checking the checkbox, what should it modify to push entries to the top of the RSS feed?

We could change the **rss.php** to consider last_modified whe

[2020-05-28 12:13] onli commented on #427
I now implemented the error message in the dashboard. It checks where the file is writeable and complains if not.

Untranslated, because I know that @stephanbrunker has something prepared for the lang files and I did not want to create a merge conflict for him. I hope we remember that later, though this error should not be visible often anyway.

@gnuheidix, what you describe is sound. It would be

[2020-05-28 12:13] #427 closed

[2020-05-28 14:26] onli commented on #440
This is basically solved now. I added code to the core to skip the check whether the trackbacks are already sent, and the trackbacks-plugin now has a checkbox to enable that skip. But because of the core change I did not add the new version to spartacus, but to its own branch. To be merged after the next release. PR is in https://github.com/s9y/additional_plugins/pull/116, so I think we don't need

[2020-05-28 14:26] #440 closed

[2020-05-28 15:52] onli commented on #474
I'm now adding the image to the srcset in those cased. Most of the time that will be the same as not having a srcset at all.

[2020-05-28 15:52] #474 closed

[2020-05-28 16:03] onli opened #732 "Respect thumbnail usage for responsive images"
Related to https://github.com/s9y/Serendipity/issues/474 and https://github.com/s9y/Serendipity/issues/682

Have a look at https://www.onli-blogging.de/1929/Knives-Out.html and look at what image gets downloaded. The scrset is this:

    /uploads/knives_out.jpg 1920w,
    /uploads/knives_out.1200W.serendipityThumb.jpg 1600w,
    /uploads/knives_out.800W.serendipityThumb.jpg 1200w,
    /uploads/kni

[2020-05-29 08:31] onli commented on #732
Okay, I got it: The browser does not now how big the thumbnail is, it can't decide intelligently which thumbnail to. So we really have to handle that on our end and adapt the `srcset`.

[2020-05-29 09:32] onli commented on #477
That's complicated.

We do not have the one function that updates all plugins. I think we don't even have one function that updates one plugin, instead spartacus downloads the new plugin files and then possible upgrade tasks are run when the plugin configuration is opened afterwards. Our "update all plugins" button is a javascript cheat because of that.

In the upgrader it's too late to react. We

[2020-05-29 11:27] onli commented on #477
Done in https://github.com/s9y/additional_plugins/commit/74d3cbd23707367716bf5f60a660cc8cbd163170. This will work from 2.4-alpha on, I think that was when the plugin update check was introduced which is reused here.

[2020-05-29 11:27] #477 closed

[2020-05-29 12:07] onli commented on #500
Okay, I propose this plan:

 1. Merge the two plugins together into a new plugin, **serendipity_event_spamblock_blocklist**
 1. That plugin will no longer use the PEAR bundled lib, but the small but current https://github.com/jbboehr/dnsbl.php. It will bundle that lib itself, if composer does not make that impossible.
 1. We also provide a new working default configuration. The rbl suggestion does

[2020-06-10 14:22] onli opened #735 "Output complete stacktrace"
Right now, we have a setup to control how PHP reacts to errors and exceptions. It is defined in https://github.com/s9y/Serendipity/blob/dafaae8db0795bcba2968a5e93a2d773b18a2f42/include/compat.inc.php#L122 I think that the stacktrace part of that is broken. Right now for example I get this message in my log:

[code]

Note how the #0 args get shortened.

In the browser, I get this error:

[code]

No

[2020-06-18 15:02] ddeimeke opened #736 "Weird error with current development version"
When I am logged in to my blog, I get the following error when I try to open [this article](https://www.deimeke.net/dirk/blog/index.php?/archives/4008-Onyx-Boox-Max-3.html).

Any ideas?

[code]

[2020-06-18 17:19] stephanbrunker commented on #736
That would be my doing. I totally resorted the language constants and nothing _should_ be deleted. But this looks like an accidental deletion. I'll make a hotfix ASAP.

[2020-06-18 18:25] stephanbrunker commented on #736
fixed with 712b958 . Apologies for that. There were three constants: ACTIVE_COMMENT_SUBSCRIPTION, PENDING_COMMENT_SUBSCRIPTION and NO_COMMENT_SUBSCRIPTION. The latter two are now obsolete in my development version, but are still recent in current master. The first one is now only used in the admin/comments.tpl and I accidentally deleted that with the other two. I restored all three in the language

[2020-06-18 18:25] #736 closed

[2020-06-18 20:03] ddeimeke commented on #736
Works perfectly fine.
Thanks a lot @stephanbrunker

[2020-07-18 20:22] andreasscherbaum commented on #711
I did change the frontend template on this specific blog, and the problem is gone.
No idea how that is related though.

[2020-07-18 20:23] #711 closed

[2020-07-21 18:58] Zugschlus opened #737 "[serendipity_event_spamblock_bayes] create table statement in code is MySQL only"
Hi,

the create table statement
[code]

doesn't work on PostgreSQL. Additionally, due to the absence of any error handling, the plugin installs just fine and claims successful operations while this is actually impossible due to the table not existing.

I have gotten some positive results from using

[code]

But I have no idea whether the omitted "unsigned" and "{UTF_8}" will have in consequences.

[2020-07-21 19:05] Zugschlus opened #738 "Handling of entry language"
Hi,

I am blogging both in German and English. One entry might be in German, the next one in English.

Currently, the themes default to hard-coding "auto", which makes the browser think all entries are written in the browser's preferred language. This is very often the wrong assumption.

There should be an entry-related setting giving the language of the entire article, with a default to be set in

[2020-07-21 19:11] Zugschlus opened #739 "Generic Footers for entry and feed"
Hi,

other blog software allows to add an arbitrary footer to all rendered entries in the browser and in the feed. This is frequently used to add blurb like "this entry appeared first on link-to-my-blog" to make content thieves embarrass themselves.

I find that a rather need idea. This should be possible in s9y as well. It would be good to be able to template the footer, inserting entry name, aut

[2020-07-22 14:11] onli commented on #737
Hi @Zugschlus

The Unsigned won't matter in practice, but the missing {UTF_8} could lead to the database using the wrong charset. But it looks like https://github.com/s9y/Serendipity/blob/master/include/db/pdo-postgres.inc.php#L272 will set it to empty anyway, so at least for now it makes no difference.

An entry of an array defined by the plugin, in https://github.com/s9y/additional_plugins/blob/

[2020-07-22 16:18] stephanbrunker commented on #738
This is an inherent weak point in the inner functioning of s9y in terms of multi-lingual. You have in the site configuration one language defined as default language. The multilingual plugin allows you to create translations to that default entry, but not the other way round as an entry ID has to exist to create an translation. So if your blog default language is German, an English article can onl

[2020-07-28 12:11] onli commented on #737
@Zugschlus Follow up question: Are you using postgres or pdo-postgres as database layer? You can check that under "Konfiguration -> Datenbankeinstellungen -> Datenbanktyp".

[2020-08-06 07:39] onli commented on #660
Okay, I got asked again whether this issue was addressed and sued this to ask for more information. The user writes:

The screenshot just showed him using the ML in the entry editor.

The hardware and OS in question is:

I-Pad Pro 13.5.1

[2020-08-06 07:41] onli commented on #660
![image3](https://user-images.githubusercontent.com/900380/89504851-37e61000-d7b8-11ea-8209-5c232978a807.png)

Important info maybe contained in this screenshot: This looks like firefox to me.

[2020-08-21 12:54] UweKrause opened #741 "unchecked requirement php-xml"
The s9y installer does not complain when there is no php-xml package installed, but the administration interface relies upon it and only shows a white site (when php error_reporting is off), beacuse the function `xml_parser_create()` is not available.

The installer could check for this.

[2020-08-23 15:23] #741 closed, assigned to nobody

[2020-08-23 19:39] UweKrause opened #743 "git/master: admin backend failing at several places with postgresql error message"
With the current version (master branch) and postgresql as db-engine, the admin backend fails at several places (New Entry, Edit Entries, Media library, Plugins, Users, Groups) due to a problem with postgresql SQL query string.
Fresh install, fresh debian 10, nothing else on this machine.

I use postgresql for the current stable version (2.3.5 as downloaded from the homepage: no problems) and for

[2020-08-23 19:42] UweKrause commented on #743
@stephanbrunker since you made the last change, maybe you remember your intentions and can see quicker what might be wrong?

[2020-08-24 07:28] stephanbrunker commented on #743
Already got it. Too much phpMyAdmin … there the default SQL for "fetch all" is "where 1" , but PostgreSQL doesn't seem to like that. I reordered the statements and changed '1=1' to '1' and that doesn't work. Corrected that. But I had to fix the function even if it was never changed before because with a certain request, two 'WHERE' statements are generated in a single request which also would prod

[2020-09-25 19:37] Zugschlus commented on #637
I am currently hit by this (in 2.3.5 btw every other day. It's kind of funny since I didn't experience "disk full" issues due to inode exhaustion since 20 years ago. However, two questions:

- Shouldn't there be some job cleaning up the template_c directory regularly? I currently have half a million files hanging around in the directory, written in the last 14 days. how long does a cache entry mak

[2020-09-25 20:00] hannob commented on #637
You can simply delete everything in the templates_c directory, it will be regenerated when needed.

As I was unable to measure any performance benefit from the cache my recommendation for a short-term workaround is to disable the caching plugin.

[2020-09-27 05:05] Zugschlus commented on #637
That is "Enable Caching" in Settings => Configuration => General Settings?

[2020-09-27 15:37] mdnava commented on #637
@Zugschlus

Cache files are supposed to have an expiration and date the a cache system is supposed to auto remove those expired files. Last time I used s9y the cache was implemented with the "serendipity_event_cachesimple" but now as I understand they bundled a caching system. I'm not sure if it's the same caching system or not, but the bug I've been talking about IS NOT CAUSED BY CACHING ITSELF,

[2020-09-27 16:01] Zugschlus commented on #637
Ok, now I am totally confused and at a total loss about what to do short of putting my blog on a dedicated file system so that it's at least only the blog going down when my inode table is full.

[2020-09-27 16:04] onli commented on #637
@Zugschlus Easiest solution for now is to go into configuration and to disable the cache. It's under "Konfiguration -> Generelle Einstellungen", at the very bottom.

I'm currently looking into returning 404s when the title is not met (but configured as part of the permalink), but I'm not sure the internal structure of s9y allows that without breaking too much.

[2020-09-27 16:18] mdnava commented on #637
If you remove your "template_c" directory (it's created automatically) and make proper .htaccess rules to forbid invalid content you might just fix your problem, at least until there's a permanent fix in the Serendipity application. However, this problem has been around since the very beginning (over 15 years ago) so I wouldn't expect a solution anytime soon. Bare in mind that you will need to hav

[2020-09-27 16:35] onli commented on #637
@mdnava

It is the problem here. The file system breaks down because of too many entries -> the problem is the caching.

It just happens to be that limiting the output to a single valid url would also probably help with that specific caching/filesystem problem.

Actually, not exactly. Have a look at the `head` of https://www.onli-blogging.de/1973/Deus-Ex-Das-2020-Review.html and https://www.onli-b

[2020-09-27 16:47] Zugschlus commented on #637
Done. Can I now clean out the templates_c/simple_cache directory? Shouldn't s9y do this by itself when disabling the cache?

I am just blogging, I do not have enough knowledge around s9y to write a .htaccess rule that fits my s9y configuration and will correctly forbid invalid content. That seems to be highly configuration dependent.

I cannot judge that since I do not know what is cached in the s

[2020-09-27 17:00] onli commented on #637
Yes. What is needed will be regenerated. Hopefully a bit less (there are still other systems of s9y that will create files there).

[2020-09-27 17:09] onli commented on #637
@mdnava I tried out a patch that would limit the issue. https://github.com/s9y/Serendipity/commit/09d670475a565e4f36b32cead550e63d731580cb, will only work if the configured entry permalink pattern includes `%title%` at the second position (as is the default). If you have the setup for that you could try it out!

Please do not test this in production (so not a solution for @Zugschlus).

[2020-09-27 17:19] th-h commented on #637
That should at least made configurable (at least via
`serendipity_config_local.inc.php`) - it's feature, not a bug that links
remain valid if you change the title of the post (i.e. fixing typos). I
don't think s9y should error out with a 404 if the post id is valid, but
the title is not.

If that's a problem with the cache, we should try to fix it there (even
more as the cache may be disabled, AFA

[2020-09-27 17:25] hannob commented on #637
Agree with @th-h - this is really important.

The point with URLs is that if you change your title (even if it's just a typo) you want your old links still to work.
If you want to avoid duplicate URLs then you need to make sure old URLs get a redirect.

As for the cache I think everyone's still missing the elephant in the room: Does the cache even do anything useful? I think we can all agree that

[2020-09-27 17:30] Zugschlus commented on #637
I think that @mdnava 's reasoning that turning off the cache will cause more load on storage and database backend has a HUGE point, and it's qutite obvious. Would be good to have some data points though.

Greetings
Marc

[2020-09-27 17:32] Zugschlus opened #744 "Turining off caching etc should remove data"
Hi,

when turning off a cache mechanism, etc, the program should clean up transient data at least optionally. In the cache case, it is clear that the entire cache can go once the cache is disabled. This will probably not hold for, e.g., a bayes based spam filter where losing the data might harm the plugin after turning it on again.

This is important because these data sets can be large.

Greeting

[2020-09-27 17:47] mdnava commented on #637
@onli @Zugschlus

Let's assume there are 500 posts, and 100 plugins and 100 categories, and 1.000 tags... Still the numbers don't add up. Half a million cache files means one of two things: Either the cache system is in fact the cause of the problem by not removing expired content, or the application is not properly validating requests and returns everything that appears to have an ID on the URL a

[2020-12-12 13:41] onli opened #745 "After installation: serendipity_config does not exist"
On the current uberspace, I'm trying to install serendipity-2.3.5. Everything seems to work, but in the last step of the installer I get a bunch of error messages saying `$DATABASE.serendipity_config does not exist`. And indeed: serendipity_config was not created.

PHP 7.4.1, mysql 10.3.23-MariaDB.

I will debug a bit more now, but I already checked and the error logs are empty, so this is at the

[2020-12-25 14:14] UweKrause commented on #743
So should we close this issue?

[2020-12-25 15:04] onli commented on #743
@UweKrause Is this fixed for you when you edit yout installation as shown in https://github.com/stephanbrunker/Serendipity/commit/cb4530f83cdcf38283ed799a8d5f063c0244aeff ?

[2020-12-25 22:12] UweKrause commented on #743
I don't have that installation anymore, but I created a new instance the same way as before with the code from the current master branch (therefore with the new changes).
It worked better this time.
After installation, the very first time entering the administration interface, there was another error.
It goes away after a reload of the page.
I will reproduce and see if it is the same or maybe anot

[2020-12-25 23:13] UweKrause opened #746 "Warning: pg_query(): Query failed: ERROR: value too long for type character varying(12)"
After installation, **the very first time** (and only that first time!) entering the administration interface, there is an error.

It goes away forever after a reload of the page.

Debian 10, fresh install, nothing else on that machine
Serendipity git/master

Might be related to #743

reported Code is this:
https://github.com/s9y/Serendipity/blob/4ef3a8f0bb8d774e78a88b9cb7e4a4145891d87a/include/db

[2020-12-26 10:56] onli commented on #743
Thanks for investigating this and for the new bug report, not many of us run s9y with postgres. I will close this issue then :)

[2020-12-26 10:56] #743 closed

[2020-12-27 18:36] bauigel opened #747 "wrong charset after updating to utf8mb4"
I checked out the current git-master and upgraded my weblog for testing utf8mb4 at a live-instance. The upgrade worked good so far, no problems.

But if i try to use emojis within entries or comments, they got replaced with "????".

After talking to @garvinhicking i found out, that the dbCharset in "serendipity_local_config" is set to utf8, but it has to be changed to
`$serendipity['dbCharset'] =

[2020-12-28 00:28] onli commented on #747
Sounds like a missed step of the utf8-upgrade that should've been covered in https://github.com/s9y/Serendipity/issues/394#issuecomment-635262452.

[2021-01-06 01:39] surrim commented on #721
Thanks for creating this issue. I fixed it in commit https://github.com/s9y/additional_plugins/commit/6dc512b1c87c88fdea6fdc499b3b73ac92b5a810. When the [pull request](https://github.com/s9y/additional_plugins/pull/118) is accepted, this issue can be closed.

[2021-01-06 02:01] surrim commented on #686
This plugin don't need jQuery. jQuery is used for the dropdown description texts in the backend.

[2021-01-06 02:28] surrim commented on #747
I'm using a small workaround for this probem. You can modify `include/functions_installer.inc.php`, Line 112:
`fwrite($configfp, "\t\$serendipity['dbCharset']         = 'utf8mb4';\n");`

Without this fix I have to fix my serendipity_local_config everytime after saving the server configuration.

[2021-01-07 16:44] onli commented on #720
It looks to me like that variable is a leftover from way back then. It is given to Smarty's security_settings, which I only see in two places: 1. in **include/serendipity_smart_class.inc.php**:

[code]

and in **include/template_api.inc.php**:

[code]

Neither `INCLUDE_ANY` nor `security_settings` is referenced in any serendipity or the bundled_lib smarty code, at least that's what my code search

[2021-01-07 16:47] onli commented on #747
@surrim Can we do that conditionally always when we would also use utf8mb4 for the database? We check that with a function, `serendipity_utf8mb4_ready()`, which should only be available when the mysqli-database layer is loaded.

[2021-01-08 22:48] surrim commented on #747
Sure, you just can use
`fwrite($configfp, "\t\$serendipity['dbCharset']         = '" . (serendipity_utf8mb4_ready() ? 'utf8mb4' : addslashes(SQL_CHARSET)) . "';\n");`

[2021-01-09 00:19] andreasscherbaum commented on #720
[code]

[code]

This still "affects" 15 plugins, where the 'INCLUDE_ANY' is referenced.

[2021-01-09 12:26] onli commented on #747
Right! But only if we use mysql. I'm not sure whether we can simply check for the existence of that function there, will the correct database layer be already loaded?

[2021-02-03 18:53] onli commented on #747
Working on this showed a bug: `$serendipity['dbCharset']` on my dev environment was always set to `latin1`, even if the blog charset itself later was `UTF-8` - I think the installer is bugged there and always used the non-utf8 language file, which sets `SQL_CHARSET` to `latin1`. But utf8 should always work, so this is the new default.

But this is only for new installations. To solve really this i

[2021-02-03 19:25] onli commented on #401
Based on the small interest in this I'll close here for now.

[2021-02-03 19:25] #401 closed

[2021-03-14 15:24] #721 closed

[2021-03-14 15:24] onli commented on #721
The mentioned PR is merged.

[2021-03-21 01:33] JialuZhang commented on #521
@th-h

In your configuration,

[code]

the line "RewriteEngine Off“ is a silent misconfiguration. This means adding it to your system will not change any system behavior.
This is because the default value of “RewriteEngine" is already an "off", so adding “RewriteEngine off" is quite unnecessary and it may cause confusion to users.

Related Apache source code snippet:
[code]

[2021-03-24 09:52] garvinhicking commented on #521
The thing about this is that such code would be placed in a subdirectory.

However, the central .htaccess actually ENABLES rewriteEngine, so the subdirectory needs to disable it.

Example:
/path/to/documentroot/.htaccess contains RewriteEngine On
/path/to/documentroot/plugins/serendipity_event_example/.htaccess contains RewriteEngine Off

This is so that when you open a URL like http://example.com

[2021-03-26 19:48] justinacolmena opened #752 "Spamblock CAPTCHA image is too small for old folks or visually impaired"
Just a suggestion, obviously not "the" right way of doing things, but here's a patch for those who need help with the big E on the eye chart on the wall.
[code]

[code]

[2021-03-26 19:55] justinacolmena commented on #752
Like this:
![captcha-sample](https://user-images.githubusercontent.com/32494761/112685952-1d85a300-8e2a-11eb-9107-9ca62c1264ef.jpeg)

[2021-03-27 21:16] justinacolmena opened #753 "URL Rewriting for nginx"
Much easier than one would think at first.
**Configuration > Appearance and Options > URL Rewriting [i] > Use Apache mod_rewrite**
Of course this is not actually using Apache mod_rewrite. This is the relevant snippet from `/etc/nginx/nginx.conf` with all the rewriting rules. As far as I can tell, it all works, but the rules from `.htaccess` as written by the config still need a lot of cleanup for

[2021-03-27 21:27] onli commented on #752
@justinacolmena  Shall we look into merging the right way to do this?

In general the captcha should not be used, we probably should remove it entirely (the alternative: spamblock_bee + spamblock_bayes). But having it be a bit bigger could improve upon the current default.

[2021-03-27 22:04] justinacolmena commented on #752
I don't have a opinion on the matter. I am new to Serendipity, and I just posted what worked for me. Look around at other blogs, see how it's handled.

[Schneier on Security](https://www.schneier.com/) has a very simple question for commenters:

And probably other methods like "spamblock_bee + spamblock_bayes" that you mentioned are enabled as well.

[2021-03-28 08:29] onli commented on #752
Spamblock_bee is not that different from that solution. It adds a hidden input that is to not be filled, and optionally an input with a simple math problem that is automatically filled with javascript.

If you intend to work on this, I'd invite you to send in a pull request that makes the captcha bigger, ideally with the mentioned "right way of doing things" ;)

This issue I'll close (but we can r

[2021-03-28 08:29] #752 closed

[2021-03-28 08:42] onli commented on #753
This is awesome, I'm not aware that anyone has documented how s9y could be run with nginx.

In your blog jQuery and modernizer seem to fail loading, is that caused by nginx or is it from different changes?

In my eyes, the most important work the .htaccess does is blocking the serendipity_config_local.inc.php from being opened (I checked, it's not accessible in your blog). I don't see that replica

[2021-03-29 01:59] justinacolmena commented on #753
I forgot a rule. The `/templates/` folder needs to be accessed as is without rewriting. I inserted a dummy rewrite with a break.

           location ~ ^/(?:[^/?]*?/|serendipity(?:_admin)?\.(?:js|css)$|admin$) {
                rewrite ^/templates/(.*$) /templates/$1 break;
                rewrite ^/([^?]*)$ /index.php?/$1;
                rewrite ^/([^?]*?)\?(.*)$ /index.php?/$1&$2;
           }

[2021-04-01 06:54] justinacolmena opened #754 "PHP fatal error on "Themes" in administration page"
Logged in as administrator, clicked on "Themes" -- after a system update to the hosting server.

    https://lindberg.farm/serendipity_admin.php?serendipity[adminModule]=templates

[code]

[2021-04-02 01:53] justinacolmena commented on #754
[code]

[2021-04-02 10:26] onli commented on #754
This looks like something that should be fixed locally in your installation and then maybe be translated to a patch for the project. But first we have to figure out what's going on here.

Could you have a look which line that is, what exactly fails there? You might also want to debug (I assume you have the developer experience, right?) what is null there. Is spartacus working for the plugins?

[2021-04-02 14:02] justinacolmena commented on #754
I put some debug code at the beginning of the catch block

    echo '<pre>'; print_r ($e); echo '</pre>'; die();

This is what I got.
[code]

[2021-04-02 14:54] onli commented on #754
Looks to me like the server can not or is not allowed to reach raw.github.com. Do you have ssh access to that server? Then you should connect to it and see whether you can ping that url. Maybe it's an IPv6-only server? github only has IPv4, that would not work. You can try setting spartacus to use the gitlab mirror instead.

[2021-04-03 02:49] justinacolmena commented on #754
My VPS is set up as dual-stack, IPv4 + IPv6, for some strange reason the external firewall for the VPS at the hosting provider needs to be reset from time to time because it stops allowing outbound connections under conditions of heavy attack and aggressive hacking attempts. Unless "raw.github.com" has a AAAA record for an IPv6 address that is non-existent or unreachable, (which it does not,) that

[2021-04-03 05:04] #754 closed

[2021-04-20 12:06] bailli opened #756 "! Attention: Critical vulnerability in s9y?!"
Hi,

I have a somewhat forgotten blog using s9y 2.3.5 on a shared webhoster. I received an abuse warning yesterday because my hosting account was sending spam emails.

After some investigations I discovered a dropped PHP script in `plugins/serendipity_event_mobile_output/wurfl/data/app.php`. I tried to dig a bit through the apache logs.

Edit: Ok. Shame on me. Another backdoor is present already i

[2021-04-20 18:09] stevleibelt commented on #756
[code]

[code]
So, it looks like I don't have this file `app.php` in my path.
Can you upload the file?

I still don't get what error you found in the s9y. Is it that there is a file called `app.php` in the path?

[2021-04-20 18:15] stevleibelt commented on #745
Any chance to debug a bit deeper already?

[2021-04-20 18:57] onli commented on #745
Hi @stevleibelt, no progress so far. Did you run into the same issue? I secretly hoped it was an outlier.

[2021-04-20 19:47] bailli commented on #756
Can you upload the file?

No. That the file usually does not exist is the point. "My" file is only several layers of obfuscated PHP code. This is the virus total entry for `app.php`: https://www.virustotal.com/gui/file/2be7ca6ef877433b337718cfad5c276e17238edfbbcc1e3e0c98ed83cf66677c/detection (I know only one hit, but as you can see somebody else checked it already - under a different name and a m

[2021-04-20 20:22] #756 closed

[2021-04-20 20:24] stevleibelt commented on #745
Hi @onli sadly not, I tried it on a fresh debian virtual machine :-\. Chance is high I've missed something since I've done it with lots of kids around.
I will give it a try as soon as possible.

[2021-04-20 20:26] stevleibelt commented on #756
Thanks for the update @bailli.
You are right, it might be an issue in s9y. It is hard to hunt if there is not enough information, at least not enough information for me.

[2021-04-20 21:33] onli commented on #756
If the only application on the server is s9y + a webserver it's likely worth it to look further into this. Ideally you could contact Garvin, see https://docs.s9y.org/docs/contributing/index.html#docs-security-reports-exploits - but I know he is swamped currently. Is there a way to contact you to organize having a look at the logs?

[2021-04-21 15:25] bailli commented on #756
I am not sure you saw my edit of my opening post: The malware I mention in the first post was created using another already existing malware. I tried to deduce when and how this was injected and I *think* it was sometime in December last year. However, I must admit that the blog was on version 2.1.1 at the time :see_no_evil: . My conclusion stems from some awstats logging. The actual server log fo

[2021-04-21 17:05] onli commented on #756
Doesn't ring a specific bell, but with the number up updates till then this might very well be fixed. Okay then. Please don't hesitate to contact us here - or with security issues rather via the email provided in the link above - if things change.

[2021-05-02 08:25] onli commented on #747
This should be fixed. Please re-open if this bug occurs again.

[2021-05-02 08:25] #747 closed

[2021-05-17 08:20] my123px opened #762 "An issue of Stored XSS was discovered via "General Settings - Blog name" parameter in Serendipity 2.4-alpha2."
An issue of Stored XSS was discovered in Serendipity 2.4-alpha2.
"serendipity/serendipity_admin.php" has a Stored XSS vulnerability via the "General Settings - Blog name" parameter.
Through the constructed malicious XSS code, the attacker can obtain the information of all users who visit the front-end page of the site and perform malicious operations.
Constructed malicious XSS code：
![image](https

[2021-05-17 08:23] my123px opened #763 "An issue of Stored XSS was discovered via "General Settings - Blog description" parameter in Serendipity 2.4-alpha2"
An issue of Stored XSS was discovered in Serendipity 2.4-alpha2.
"serendipity/serendipity_admin.php" has a Stored XSS vulnerability via the "General Settings - Blog description" parameter.
Through the constructed malicious XSS code, the attacker can obtain the information of all users who visit the front-end page of the site and perform malicious operations.
Constructed malicious XSS code：
![image

[2021-05-17 17:31] onli commented on #763
My answer to the other issue, https://github.com/s9y/Serendipity/issues/762#issuecomment-842359034, is valid here as well :)

[2021-05-18 01:58] my123px commented on #762
Hello, thank you for your reply. It is true that if only from the perspective of security impact, this vulnerability may not be harmful, but if you consider this flaw from the level of coding security specifications, then this vulnerability may not be recommended to be retained. If teh XSS mentioned in #456 is the design consideration for the support of rich text, then the two vulnerabilities ment

[2021-05-18 14:29] onli commented on #762
That's a valid point. We should have a look at how the value of those two variables is stored and printed, and either escape it before storing it or when emitting it.

Are you interested in working on that potential patch? :)

[2021-05-20 02:37] my123px commented on #762
How about adding a htmlspecialchars() function when getting input? The flags parameter uses ENT_QUOTES.

[2021-05-20 06:53] onli commented on #762
That could work. But those settings are mixed with other settings, Will all of them continue to work when HTML-encoded? It might be easier to just escape them in templates/2k11/index.tpl.

[2021-05-28 11:26] th opened #764 "Trackback/Pingback and TLS on port 80"
The s9y blog https://netz-rettung-recht.de/archives/2276-Wellenreiten-112020.html sends a trackback/pingback to the Wordpress blog https://www.thomas-huehn.de/2020/11/vom-gatter-zum-computer/

It doesn't work (the pingback you can see in the article has been added manually using curl).

Apart from lots of other things that could be wrong on either side, it seems that s9y is connecting to port 80,

[2021-05-28 14:49] onli commented on #764
Thanks for this excellent report. Right, that s9y even tries port 80 there should be a bug.

The error might be at https://github.com/s9y/Serendipity/blob/8d1dd2994c8bdabfd735cfc67f0a5e8f3f1b2ea2/include/functions_trackbacks.inc.php#L125, where s9y sets port 80. On the other hand, why would it enter that code path for a https url? And why is port 80 ever set manually, won't the default be right? I

[2021-05-28 16:17] th commented on #764
Yes, indeed: Wordpress-Trackbacktest | John Doe’s personal blog

Haven't had luck with getting my Wordpress to emit those Trackback RDF tags, so far. My understanding was, that pingbacks were preferred, because the spamming potential is lower, since no "text" is transmitted and shown, just a sender and a link, but I guess you were referring to the whole xmlrpc security angle?

[2021-05-28 16:34] onli commented on #764
The "pingbacks don't show texts" is more a convention. Since the page is downloaded anyway to check for the link the receiver could easily show the page title for example. But it's absolutely possibly that was claimed.

https://developer.wordpress.org/reference/functions/trackback_rdf/ should be the function you need, probably something to add to the part of your theme that emits the comments.

Ar

[2021-05-28 18:05] th commented on #764
Sure, it's solved.

[2021-05-28 18:05] #764 closed

[2021-07-01 05:59] SlidingHorn commented on #753
So is this a workable thing now? I remember wanting to run s9y on nginx in the past, but couldn't because I had no idea how to do this very thing...

cc: @onli for input

[2021-07-01 20:57] onli opened #766 "Beta preparation for PHP 8 compatible version"
In the last weeks, months now, commit after commit fixed code parts in the core that threw Warnings/Error with PHP 8. It is time to finish that work and release a beta version for those users that want to use PHP 8.

But I think some things still need to be done:

- [x] The error handling needs to be remodeled: In [production mode](https://github.com/s9y/Serendipity/blob/8d8aa4ce6625a2e34172afe548

[2021-07-02 21:19] onli commented on #753
@SlidingHorn I didn't test it yet (and are unlikely to do so, since my Apache setup works). But the nginx config justinacolmena has shown above looks good.

If you are interested in that setup, I'd recommend to just test it. If you can login to the backend, write articles and comments, read articles and - very important! - not access the serendipity_config_local.inc.php, then everything else is ve

[2021-07-02 21:21] SlidingHorn commented on #753
@onli I'll throw up a VM over the weekend if I have time and give it a shot

[2021-07-04 05:21] SlidingHorn opened #767 "500 error on installation"
I'm *attempting* to test nginx rewriting per #753, however, when I get to the actual installation, I'm met with a 500 error:

[code]

Literally every check on the pre-installation report is green, however, I have no idea how to troubleshoot beyond this. I'm more than happy to provide any information about the server setup etc.

---

### Setup

- **Server:** Debian 10 (vm)
- **PHP Version:** 7.3.27

[2021-07-04 05:31] SlidingHorn commented on #767
Closing - apparently I had messed up permissions on some of the directories somehow. setting the ones checked under the "Permissions" section to 775 seems to have done the trick

[2021-07-04 05:31] #767 closed

[2021-07-04 10:40] onli commented on #766
Production mode enabled for beta/rc versions in https://github.com/s9y/Serendipity/commit/fa69a788a820903ab519a6050cd0c71508ff6b28

[2021-07-04 17:45] onli commented on #766
I checked the recommended themes. There might still be warnings in subpages and previews, but at least the main pages work for me without warnings now.

[2021-07-05 21:34] surrim opened #768 "All recommended themes should run without throwing any warning in non-production mode. Optional."

[2021-07-06 21:54] surrim commented on #766
I'm still working on it. Till now I have
` 21 files changed, 115 insertions(+), 62 deletions(-)` - _Serendipity_
` 9 files changed, 24 insertions(+), 41 deletions(-)` - _additional_plugins_
... also affecting 2k11 theme and some core functions/plugins

[2021-07-06 22:16] onli commented on #766
I'm surprised that 2k11 and core plugins still have to be changed, but together with other plugins that's certainly possible. Don't hesitate to commit and push the changes already, in doubt into a branch that we can test and merge.

[2021-07-08 17:59] surrim commented on #766
Please take a look at https://github.com/s9y/Serendipity/pull/769 and https://github.com/s9y/additional_plugins/pull/131.
I tried to do my best, but some code is not really good to understand. Maybe a list of PHP8 ready plugins would be great. Some plugins are looking very old and not really maintained any more.
Maybe there is also a Smarty update for PHP8.

[2021-07-08 18:34] onli commented on #766
I'll have a look. Saw no problem so far, but I should test it a bit. And I assume that raising the versions of the plugins will be a lot of work. Thanks a lot for this effort, looks like it was a lot of work!

At least here, on a wiki page. I agree, and I wanted to test more plugins anyway.

We are on the current release, https://github.com/smarty-php/smarty/releases/tag/v3.1.39, which didn't help

[2021-07-18 21:40] onli commented on #768
I think this is done :)

[2021-07-18 21:40] #768 closed

[2021-07-18 22:02] onli commented on #766
Update regarding the themes.

I went through the list, reached the MT-Themes and will stop here for now. The themes work better than expected, with enabled production mode most don't raise errors. I repaired the few that did, apart from Mo3 - that one might work with the required plugins installed, something to test later (it looks very complex).

Some themes look broken though. So far, I noticed

[2021-07-25 17:13] onli commented on #766
Okay, done! :) All critical errors in the additional themes are fixed.

Imo we are now ready for a beta release. Remaining issues in the core could then be fixes as reported, same goes for possible plugin incompatibilities. I will try to get some help with the release now.

[2021-07-25 17:13] #766 closed

[2021-07-25 18:40] onli opened #770 "NOTIFICATION_CONFIRM_SUBMAIL has a %s, but is not called with a variable"
Investigation issue.

The comment confirmation message is somewhat broken, as NOTIFICATION_CONFIRM_SUBMAIL has a %s that is not filled. The german text for that variable has no %s. Is that a sign that the language constant files are in chaos or is it a single and simple error?

[2021-07-26 14:20] onli commented on #770
https://github.com/s9y/Serendipity/commit/0cf227f3352c999786de7daa055e53c9d759dca6 did introduce it. A sensible change probably for the alternative comment subscription system. Could be readded later (with the outer code to fill it), but let's keep it simple for now.

[2021-07-26 14:20] #770 closed

[2021-07-26 18:32] stephanbrunker commented on #770
Sorry for introducing that bug. I didn't intend to mixup the re-sorting of the language files with the new feature. Unfortunately, I was already several steps ahead in my developing HEAD and missed that I already made these changes when I committed (kind of cherry-picked) the language file makeover. Originally, the strings were without the %s and my action also caused the vanishing of some constan

[2021-07-27 06:41] onli commented on #770
No worries @stephanbrunker, no harm was done here :)

[2021-07-27 07:16] stephanbrunker opened #771 "Recreate Thumbnails is broken because of missing constant THUMB"
In include/functions_images.inc.php there is line 917:
                    $resizethumb = sprintf(RESIZE_BLAHBLAH, THUMB);

But this throws an error because an constant named THUMB doesn't exist. At line 903, THUMBNAIL_SHORT exists, but that makes no sense because it prints the same message for all the thumbnails. In both cases, this should be replaced with something like the variable $sThumb. It

[2021-07-27 13:42] onli commented on #771
Thanks! Important find short before we wanted to release a beta version. I will give it a test some time later run and try to debug where that error is coming from exactly (was this always broken?). If you would like to fix it yourself just send in a PR :)

[2021-07-27 14:07] stephanbrunker commented on #771
I don't know when the THUMB constant vanished, it was not me this time. Unfortunately, the basement of my buisiness was flooded with all items inside so I really, really have a lot of other problems. I just ran into that bug two months ago and remembered it recently. I only did a quick fix by replacing the constant, but the string should be showing the name of the file and the new size. Atm, with

[2021-07-27 16:59] onli commented on #771
Absolutely, I'll have a look. Please stay safe!

[2021-07-30 15:56] onli commented on #771
I think this is fixed now. I was also able to restore the output of the image dimension. That could be be prettied up a bit if someone is motivated to do so :)

Thanks again for the report. I'll close here for now, re-open is always possible.

[2021-07-30 15:56] #771 closed

[2021-11-26 14:50] mattsches opened #772 "Uncaught mysqli_sql_exception in installer"
Tried to set up a fresh S9y installation with PHP 8.1 and the MySQLi backend - which failed due with

`Fatal error: Uncaught mysqli_sql_exception: Table 'db.serendipity_authors' doesn't exist in /var/www/html/include/db/mysqli.inc.php on line 66`

An exception seems to be expected in the installer, but only a `PDOException`, not a `mysqli_sql_exception`:

https://github.com/s9y/Serendipity/blob/d7

[2021-12-03 16:30] titanofold opened #774 "PostgreSQL: WITH OIDs no longer supported"
My site is no longer loading with a recent upgrade for PostgreSQL.

WITH OIDs has actually been deprecated since 2005. There was a mailing list
announcement from 2018 that has some details:
https://www.postgresql.org/message-id/E1gPG3j-0003cy-03%40gemulon.postgresql.org

[code]

[2021-12-20 06:31] OHDUDEOKNICE opened #775 "(Security Advisory) Stored XSS."
# Title: Stored Cross-Site Scripting
Can we fix this please?

# Information
[code]

# PoC (Proof of Concept)
[code]

# Reproduction:
* Login
* New Entry > Any Title > Add
* <script>alert(document.domain);</script>
* To Body, save, preview - Stored XSS.

# Remediation
[code]

[2021-12-21 07:07] OHDUDEOKNICE opened #776 "(Security Advisory) - [Moderate] - Session ID in URL"
... please remove.

[2021-12-30 09:43] #776 closed

[2021-12-30 09:46] onli commented on #774
@titanofold I can have a look at whether my test environment supports PostgreSQL, but am not sure how to fix this. Do you have a recommendation, ideally: Could you submit a Pull Request for this?

[2021-12-30 09:54] onli commented on #775
Hi! Is this about new entries or new comments? I tried to reproduce it and can not: A entry with the title set to `<script>alert(document.domain);</script>` does print that code, but not execute it, in my admin backend. Neither in the preview nor in the admin area.

Though, if it's in the preview (maybe with a different theme than mine?), then the writer can just add the Javascript to the entry bo

[2021-12-30 12:16] OHDUDEOKNICE commented on #775
Same exact theme. I believe I provided steps to reproduce.

On Thu, Dec 30, 2021, 4:54 AM onli ***@***.***> wrote:

[2021-12-30 17:05] onli commented on #775
Which exact theme?

The steps to reproduce do not work for me.

[2021-12-30 17:30] th-h commented on #775
The "steps to reproduce" are adding a new post to the blog. Posts are completey under the control of the site owner and everyone they gave posting permissions to; it's working as designed that they may add HTML, scripts and other things, as anyone may want to and can publish such content on their website. So your steps to reproduce do work, but they work as designed.

Comments, on the other hand,

[2021-12-30 17:34] th-h commented on #762
I don't think it makes sense to escape input from blog administrators (or authors). They should be able to configure their blog the way they want to, and they can do that anyway by other means (plugins, themes, modifying code).

[2021-12-30 18:50] onli commented on #775
Only when previewing? Then it's likely the preview_iframe.tpl of my theme escapes the title and 2k11 does not, or a similar template difference.

I agree mostly. It would be different if the JS in the title gets executed in the backend area directly. The preview is somewhat of a grey area - it would be valid imho to disable it there, though it would make previewing of entries with code very hard.

[2021-12-30 18:59] th-h commented on #775
No, always.

Not the title; it's about the body.

[2021-12-30 19:03] onli commented on #775
Oh, okay. I completely misread the instructions then. Yes, then this works as intended. In scenarios where not all editors are trustworthy the xsstrust plugin is the solution here.

[2021-12-30 19:06] OHDUDEOKNICE commented on #775
Thank you guys for the conversation. Getting a lot further on this issue
than the other issues (Error-Message User Enum/Authenticated Code Exec/etc)!
👍

On Thu, Dec 30, 2021 at 1:59 PM Thomas Hochstein ***@***.***>
wrote:

[2021-12-30 19:08] onli commented on #762
In any case there was no work on this, and we agree that it is not a critical security issue. Should we close this and its sister issue?

[2021-12-30 19:10] OHDUDEOKNICE commented on #775
If either of you would like me to demonstrate these payloads over Discord,
feel free to add me as S1REN#9066 (I can share my screen and walk the
Security Department through the findings).

On Thu, Dec 30, 2021 at 2:06 PM Siren Song ***@***.***> wrote:

[2021-12-31 05:23] #762 closed

[2021-12-31 05:23] #763 closed

[2021-12-31 12:59] onli commented on #775
We can do that, but if it's really about JS in the body this is just how it's supposed to work :) But we could use discord to make sure we talk about the same thing? Send me a mail at onli at paskuda.biz to find a date and time that works for us.

[2022-01-04 15:08] mbirth opened #777 "Duplicate permalink because of sanitisation"
Similar to #738 I usually blog in English but also - rarely - in German. Instead of messing around with multilanguage, I've decided to just add a flag emoji (🇩🇪) to the title for those few German entries. E.g.

* Awesome Product
* Awesome Product 🇩🇪

Also, I don't want to bother users with the entry id, so I configured my permalinks to be `/article/YYYY-MM-DD-%lowertitle%.html`.

However, those em

[2022-01-04 17:54] onli commented on #777
That sounds very reasonable to me. It should even not collide with most other blogs, because those usually identify entries by their id.

I'm not very familiar with that part of the code, but at first look I'd assume https://github.com/s9y/Serendipity/blob/d79ea2742235f1410965b4bc45108c60de3f9ef7/include/functions_permalinks.inc.php#L17 would need to be extended. Maybe it's something you could try

[2022-02-03 17:17] mbirth commented on #266
Stripping all metadata using ImageMagick (which is a given on 99% of hosters these days) is a matter of:

    convert inputfile.jpg -strip outputfile.jpg

Or programmatically:

    Imagick::stripImage()

Ideally, this would happen after S9Y extracted all metadata from the files.

[2022-02-03 19:24] onli commented on #266
I see that more as a workflow issue, the whole properties page is a bit problematic. But sure. If it's so easy I would not be against adding such a function. One should test that imagemagick is available and that this command does not bloat the file size (quality settings etc).

[2022-02-03 19:25] #777 closed

[2022-02-12 21:38] #772 closed

[2022-03-12 20:29] SlidingHorn opened #779 "additional fa icons for clean-blog?"
I'm looking at adding a Mastodon link rather than a Twitter link, and just to test what the icon would look like, I replaced "fa-twitter" with "fa-mastodon" in the index.tpl file, it doesn't pull the icon from Font Awesome. Instead, it just shows the circle stack icon.

Is there something special that has to be done in order to use other icons?

[2022-03-12 20:41] yellowled commented on #779
Clean-Blog [includes Font Awesome from a CDN](https://github.com/s9y/Serendipity/blob/master/templates/clean-blog/index.tpl#L32) in a rather old version (4.5.0) which did not include a Mastodon icon yet. Also, it seems that Bootstrap switched CDNs, the maxcdn doesn't seem to offer newer versions.

You can try replacing `<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesom

[2022-03-12 20:48] SlidingHorn commented on #779
Apparently the newer one hollows out the circles

![screenshot-20220312154708](https://user-images.githubusercontent.com/6623121/158034495-2b267ab5-49c2-4e67-acc2-06bb24cd8a84.png)

[2022-05-31 04:34] bluesky0341 opened #780 "when could we use Serendipity 2.4-beta1"
when could we use Serendipity 2.4-beta1
because Serendipity 2.4-beta1 support php8.0,i want to use

i want to use php8.0

[2022-05-31 10:14] bluesky0341 commented on #780
is it ok to use 2.4 now

[2022-06-02 13:49] onli commented on #780
Yes. I use 2.4-beta1 for my personal site, and so do several other users. You can use 2.4 already.

[2022-06-02 13:53] bluesky0341 commented on #780
thanks for mail
for seo,i need below

title
discription
keywords

but i do not find in the website

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "s9y/Serendipity"                                                                                    ***@***.***&gt;;
发送时间:

[2022-07-12 08:44] ttrueten opened #781 "serendipity_plugin_comments/: Fatal error: Uncaught TypeError: mb_strrpos():"
Hi there,
I got the following fatal error with Serendipity 2.4-beta1 and PHP 8.0.16 and as you can see the bootstrap4 Theme:
`Fatal error: Uncaught TypeError: mb_strrpos(): Argument #3 ($offset) must be of type int, string given in /home/www/plugins/serendipity_plugin_comments/serendipity_plugin_comments.php:252 Stack trace: #0 /home/www/plugins/serendipity_plugin_comments/serendipity_plugin_comme

[2022-07-20 13:11] spackmat opened #782 "Upgrade bundled michelf/php-markdown in serendipity_event_markdown for PHP > 8.0 compatibility"
Hi,

I upgraded to S9Y 2.4-beta1 and switched to PHP 8.0 (and later to 8.1). That works fine for the core, but the `serendipity_event_markdown` plugin raised some 500 errors. I switched to the "lib" markdown version inside its config, but that also did not work, as the bundled version of [michelf/php-markdown](https://github.com/michelf/php-markdown) is outdated.

I did a quick test with the curre

[2022-07-20 16:02] onli commented on #782
A PR would be very welcome.

The markdown plugin is maintained by @th-h, who is chronically short on time, so I assume you can go ahead if you want to provide maintenance work. If the classic version supports PHP 7 it should not be removed, but if even that is too old it should, and changing the default to a maintained alternative will definitely be fine regardless of bc-version support. Imho all,

[2022-07-20 16:27] th-h commented on #782
It should pose no problem to upgrade the bundled library, yes. A PR would be welcome.

Yes, we should remove the "classic" version (and drop the config option, and change the config to the library version for existing installations, if it had been selected beforehand). I'll look into that when I have time (not really soon, I'm afraid).

[2022-07-21 13:41] spackmat commented on #782
Oh, I just saw that the 1.9 branch of the lib did not mention inside the changelog-section of its readme that the minimum PHP version was bumped to 7.4 and that several breaking code changes were made that really need at least PHP 7.4. So I hold back my PR to ask if that would still be okay?

[2022-07-21 14:02] onli commented on #782
Since 7.3 is EOL for me that would be okay. @th-h, what do you think?

We could also raise the required s9y version of the plugin to 2.4-beta1.

[2022-07-22 05:47] th-h commented on #782
Minimum PHP version for our current release is announced as 7.0, so we would have to rise the required version of the plugin.

[2022-07-22 08:22] spackmat commented on #782
That problem should IMHO be discussed on the main project level. When I run a software, I expect that also the officially bundled plugins respect the system requirements of the current core release. So if, for whatever reason, I run the current 2.4-beta1 of s9y on PHP 7.0, because that is the officially minimum required version, I would not be so happy to get 500 errors, when I install a plugin fr

[2022-07-22 13:27] onli commented on #782
Regarding the core decision: IIRC, we agreed that future s9y versions should on paper only support officially supported PHP version. So if we released 2.4 today it would be 7.4 as the lowest version - though of course we will not break BC with old PHP versions if it can be avoided with reasonable effort, and we won't break compatibility just because (and not for things like refactoring).

Plugins

[2022-07-22 13:29] onli commented on #780
I think the original issue is answered. Not sure about the keyword question, I hope https://board.s9y.org/ did answer it already. If not, that's the place for it.

[2022-07-22 13:29] #780 closed

[2022-07-22 13:34] onli commented on #781
You could check that codeline to see where the problem is. If I see correctly, it should be here:

[code]

https://www.php.net/manual/en/function.mb-strrpos.php explains the problem: PHP changed how the function works to fuck us over again. Solution should be to change the line like this:

[code]

This sets the offset parameter to its default and should fix your error message.

Would be great if y

[2022-07-22 14:32] spackmat commented on #782
So then a new plugin version can bump PHP version to >=7.4 differing from the current s9y release. If that is okay, I'll prepare PR for that.

[2022-07-22 20:06] spackmat commented on #782
OK, see PR https://github.com/s9y/additional_plugins/pull/141

[2022-07-25 13:15] ttrueten commented on #781
Hey Onli,
I'll never say again that a 0 is worth nothing...

Good, that's it. I'm going to look at the various other problems that have come up and make a report there. Thank you first of all.

Many greetings,
T.

[2022-07-25 13:15] #781 closed

[2022-07-25 13:27] ttrueten opened #783 "Warning: Undefined array key "entries" in *"
Hello all,
I hope I am right here for the error messages in **Serendipity 2.4-beta1 and PHP 8.0.16** related to **Bootstrap 4 template**:

[code]
This is a behavior that does not occur with the 2k11 template, for example. I have no idea what's going wrong here...

Greetings,
T.

[2022-07-25 14:08] onli commented on #781
Great that it worked :) @ttrueten, would you like to provide this patch to the project (after all, you discovered the problem and you did test the fix) in a pull request?

[2022-07-25 14:12] yellowled commented on #783
@ttrueten Those are warnings related to the cache (Smarty) template files, have your tried clearing your template cache in the admin backend?

[2022-07-27 09:58] ttrueten commented on #783
@yellowled Yes, of course, that was the first thing I did. However, the error also occurs after deleting the cache files. Strangely enough, however, only in the pages created by the plugin serendipity_event_staticpage. In the normal pages / article views no problem.

Greetings,
T.

[2022-07-27 10:04] yellowled commented on #783
@ttrueten Dang, it, I was hoping that would fix it.

Unfortunately, I have been out of the loop with all things s9y, I don't even have a dev instance as of now that I could reproduce the error with. It sounds like something a "real" (backend) dev should have a look at, maybe it's related to a new PHP version or changes to the plugin.

[2022-07-27 10:08] ttrueten commented on #783
Thanks anyway for your hint, that could well have been.

T.

[2022-07-27 13:35] onli commented on #783
I think I can give the background on this.

With PHP 8 all of our smarty templates hat to be changed to not access variables that don't exist. Was okay before, just returned nothing, now it throws an error. And at least when we did the migration smarty had no method to automate this.

What's really confusing to me is that I actually really did test all core themes. But you say it only happens with

[2022-07-27 17:13] ttrueten commented on #783
Hi there,
well, in 2k11, which I used to use and have now reactivated, the error does not occur. At least not in the frontend, but very well in the backend when I go into the template area. I made a screenshot that shows how the error occurs:
![2022-07-27_19-07](https://user-images.githubusercontent.com/12172681/181307687-cfd59709-1f59-44ce-9576-ec5ba80cd7b5.png)

The bug in Bootstrap 4 theme look

[2022-08-07 12:36] hannob opened #784 "function strftime is deprecated (php 8.1)"
With PHP 8.1 I'm getting these warnings in the log:
[code]

The use of the strftime function is discouraged and will likely be removed in future PHP versions:
https://www.php.net/strftime

[2022-08-08 12:37] garvinhicking commented on #784
Sadly don't have much time these days, but I'd suggest to use a polyfill to make it work again. Adjusting to the immutalbe DateTime Interface for legacy application is a major pain.

Example for a polyfill: https://bestofphp.com/repo/alphp-strftime

That could be copy+pasted to serendipity_compat.inc.php or something like that, and be a drop-in replacement...? @onli

[2022-08-14 19:07] onli commented on #784
Using the polyfill sounds like a good idea to me!

[2022-08-20 06:00] hannob opened #786 "'Undefined array key "id"' warning in comments.tpl.php on preview with PHP 8"
I have been seeing warnings like this on a PHP 8 system:
[code]

These appear if one does a comment preview. What seems to happen is that when displaying preview comments then $comment.id is not set.

One could either try to make sure that preview comments get a fake id or add a bunch of {if isset[...]} clauses to the templates.

[2022-10-01 09:53] th-h commented on #782
That did not work for me. s9y happily updated the plugin, but as I'm still running PHP 7.3.31, that didn't work out. Restored the old plugin from backup, works again. I think the PHP minimum version check does not work the way it should.

[2022-10-01 12:10] spackmat commented on #782
@th-h that ist not good. Did you open an issue on that? Because a missing plug-in requirement check in the core would break a lot of installations.

[2022-11-03 17:09] #786 closed

[2022-11-03 17:10] onli commented on #786
Thanks :)

I added a *a bunch of {if isset[...]} clauses*. Please be aware that the warning would have not been displayed on when `production` is set to true, which is automatically like that for beta and stable builds.

[2022-11-03 17:13] onli commented on #775
I will close here. This is just not a bug, and controllable with the xsstrust plugin. Thanks @OHDUDEOKNICE for looking into Serendipity though!

[2022-11-03 17:13] #775 closed

[2022-11-03 17:20] onli commented on #728
I assume this was fixed with the commit, if not please re-open.

[2022-11-03 17:20] #728 closed

[2022-11-03 17:25] onli commented on #737
This plugin does no longer create this table. It is still not compatible with Postgres, as it is missing that database backend in the plugin, but that would have to be provided by the b8 plugin or a different developer. @Zugschlus, if you are still around, that could be a great contribution. I will however close here for now, as it's not an issue that can be acted on properly anymore.

[2022-11-03 17:25] #737 closed

[2022-11-03 18:42] onli commented on #660
Okay, unlikely to make progress here (and it did not came up again). CKEditor also saw some updates anyway.

[2022-11-03 18:42] #660 closed

[2022-11-03 18:45] onli commented on #713
@hannob, if there was a follow-up that was probably in separate issues. Can we close here, since the original issue is fixed?

[2022-11-03 18:51] hannob commented on #713
I think we can close.

[2022-11-03 18:51] #713 closed

[2022-11-07 21:44] neonknight opened #788 "[serendipity_event_twitter] feature request: support fediverse"
any chance support for fediverse services (friendica, mastodon, gnu social, diaspora, ...) could be added?

[2022-11-08 22:45] onli commented on #788
Hey @neonknight. Can't talk for the others, but as far as I can see the twitter plugin hasn't seen updates in a while. If someone wanted to maintain it again and extend it for the fediverse services those efforts would certainly be appreciated and merged. The current pool of developers doesn't really have someone really into these services, I think at least :)

[2022-11-08 23:54] onli commented on #745
This is unlikely to still be relevant :)

[2022-11-08 23:54] #745 closed

[2022-11-09 14:23] onli commented on #745
Right, time flies for s9y especially fast ;) Good thing is that I for PHP 8 the installation was now tested again quite a few time, this one really ought to be fixed.

If I can help you in any way when you want to work on s9y, pls let me know! :)

[2022-11-12 20:31] DevBrunoo opened #789 "Translation"
I can translate some of the comments into my language which is Portuguese.

[2022-11-12 20:41] DevBrunoo opened #790 "Translation"
I want to correct some syntax errors in the comments, and translate some to Portuguese

[2022-11-12 21:44] onli commented on #790
That would be very welcome. Do you know how to do so?

[2022-11-16 06:19] hannob opened #791 "Uncaught ArgumentCountError: 4 arguments are required, 2 given in [path]/plugins/serendipity_event_spamblock/serendipity_event_spamblock.php:1070"
I am seeing errors like this in my log file:
[code]

This is the code around the area:
[code]

It looks to me the issue is with the sprintf calls. PLUGIN_EVENT_SPAMBLOCK_REASON_IPVALIDATION is a constant ('IP validation: %s [%s] != sender ip [%s]') with three %s string placeholders in it, so the sprintf call needs more parameters. As you can see in this code piece, one of the sprintf calls does it

[2022-11-16 09:47] hannob commented on #791
Additional info: in PHP 7.4 this is a warning (though sprintf won't output a string), in 8.0/8.1 it's causing the fatal error.

[2022-11-16 10:20] hannob commented on #791
There is also a logic bug in that code. The code below comparing the trackback uri IP with the sender IP will be executed even if the url parsing failed. Will fix that as well.

[2022-11-20 14:17] onli commented on #791
I'll close here, as the linked PR was merged.

[2022-11-20 14:17] #791 closed

[2022-11-21 03:44] justinacolmena opened #793 "Much stronger defenses needed against aggressive persistent comment-spamming"
The blog is useless without an adequate defense architecture in place against nation-state-political-censorship-motivated and highly aggressive commercial comment-spamming.

[2022-11-21 06:13] justinacolmena commented on #793
There are too many options for sending out arbitary emails. I cannot allow my blog to be used as an email spam engine.
![blog-email](https://user-images.githubusercontent.com/32494761/202978153-e7294982-a2d3-4786-ab15-d7911ee37c84.png)

[2022-11-21 09:24] jameswill opened #794 "Serendipity 2.4.0 version does not work on PHP 7.0"
Hi,

I tried installing serendipity 2.4.0 version on my server with PHP 7.0 and Mysql 5.5

As the requirement page on the website states PHP 7.0 https://docs.s9y.org/docs/users/getting-started/fresh-installation.html

However on the last page of the installation (on redirecting "serendipity_admin.php" ) it gives following error.

**_Uncaught Error: Call to undefined function array_key_first() in [

[2022-11-21 10:01] stevleibelt commented on #794
Hello @jameswill,

PHP 7.4 has an end of life in [6 days](https://www.php.net/supported-versions.php). This is the last supported 7.x-Version of PHP.

I bet your linked [documentation](https://www.php.net/supported-versions.php) page will get an update.

A friendly reminder, because of the end of life of php 7.4, you should plan to upgrade your server setup.

Best regards,
Stev

[2022-11-21 15:34] onli commented on #793
Well, one time verification are a legal requirement in Germany. You can disable them by disabling comment subscriptions completely, under Configuration -> General Settings.

For comment spamming s9y has a couple highly effective anti spam settings, which can be further extended by anti spam plugins. The recommendation is a combination of the built-in spablock plus spamblock_bee and spamblock_bayes

[2022-11-21 16:00] justinacolmena commented on #793
On Monday, November 21, 2022 6:35:01 AM AKST, onli wrote:

By "state sponsored" do you mean the actual governments or local districts
of places like Germany and Poland and Denver, Colorado where we get a lot
of these international standards on the internet from?

[2022-11-21 16:29] onli commented on #793
Neither really. Just sophisticated spam attacks, of which there are only a few sources.

Though the origin does not matter much. I hope that with the plugins and settings you find an acceptable-to-you setup.

[2022-11-23 10:49] #789 closed

[2022-11-23 11:10] surrim commented on #784
It seems it's quite a lot of work. There is another format for the [date()](https://www.php.net/manual/en/function.date.php) function, no way to reuse the format strings in all translations without a polyfill.

[2022-11-23 23:04] justinacolmena commented on #793
I had previously had good luck making small site customizations to the captcha.

It appears Serendipity is popular enought that custom attacks against it are propagating in the wild. I much prefer PostgreSQL to MariaDB/MySQL as I find it easier to administer, back up and restore on a VPS, but other people have hosted solutions where PostgreSQL is not available except as paid SaaS. There's a 500 er

[2022-11-28 22:21] #794 closed

[2022-11-28 22:26] onli commented on #793
PostgreSQL has not seen much development work in recent time, I think because the typical setup uses either MariaDB/MySQL or SQLite. But if someone would provide development work, that would be appreciated and merged. So if you want to work on this, please just go ahead :)

I will close here for now though, just to keep some order in the issues. If you have questions please don't hesitate to conta

[2022-11-28 22:26] #793 closed

[2022-11-30 19:31] onli opened #797 "Quicksearch vanishes"
The quicksearch sidebar plugin vanishes. Not in all themes, not in Skeleton. But it disappears in old blogs. My theory: 2k11 hides the plugin in favor of its own search, via the **sidebar.tpl**:

[code]

This now gets repeated. Solution: Add a sidebar.tpl without the quicksearch check to all themes?